.DS_Store
*.DS_Store
.vscode
*.vscode

# Gradle
**/.gradle/
**/runtime/

# Kotlin
**/.kotlin/

# IntelliJ IDEA
.idea/
backend/.idea/
backend/build/reports/
backend/build/classes/
*.iml

# Android
local.properties
android/app/release
